<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<br>
<div class="ui top attached segment">
    <div class="ui top attached label">Create user</div>
    <br>
    <form class="ui form" th:action="addUser" method="post" th:object="${user}">
        <ul>
            <li><label> name : </label><input type="text" name="name" th:value="*{name}" th:field="*{name}"/></li>
            <li><label> lastname: </label><input type="text" name="lastName" th:value="*{lastName}" th:field="*{lastName}"/></li>
            <li><label> email: </label><input type="text" name="email" th:value="*{email}" th:field="*{email}"/></li>
            <li><label> username: </label><input type="text" name="username" th:value="*{username}" th:field="*{username}"/></li>
            <li><label> password: </label><input type="password" name="password" th:value="*{password}" th:field="*{password}"/></li>
            <li><label> is active : </label><input type="checkbox" name="active" th:checked="*{active}" th:field="*{active}"/></li>
            <select multiple="multiple" name="roleIds">
                <option th:each="r : ${selectableRoles}"
                        th:field="${user.roles}"
                        th:value="${r.id}"
                        th:text="${r.role}">
                </option>
            </select>
        </ul>
        <br>
        <div class="field">
            <button class="ui button" type="submit">Add user</button>
            <br>
        </div>
    </form>
</div>
<h2><a href="/logout">Logout</a></h2>
</body>
</html>