<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form action="editUser" method="post">
    <div><input type="hidden" name="id" th:value="${user.id}"/></div>
    <div><label> name : <input type="text" name="name" th:value="${user.name}"/></label></div>
    <div><label> lastname: <input type="text" name="lastName" th:value="${user.lastName}"/></label></div>
    <div><label> email: <input type="text" name="email" th:value="${user.email}"/></label></div>
    <div><label> username: <input type="text" name="username" th:value="${user.username}"/></label></div>
    <div><label> password: <input type="password" name="password"/></label></div>
    <div><label> is active : <input type="checkbox" name="active" th:checked="${user.active}" th:value="${user.active}"/></label></div>
    <br>
    <label>Roles</label>
    <br>
    <select multiple="multiple" name="roleIds">
        <option th:each="r : ${selectableRoles}"
                th:field="${user.roles}"
                th:value="${r.id}"
                th:text="${r.role}">
        </option>
    </select>
    <br>
    <div><input type="submit" value="Save changes"/></div>
    <br>
</form>
<h2><a href="/logout">Logout</a></h2>
</body>
</html>